<!doctype html>
<!--[if lte IE 7]> <html class="ie7" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="ie8" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="fr"> <![endif]-->
<html lang="fr" ng-app="ConnectMangasApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>ConnectMangas Client</title>
    <link href="assets/css/prod/screen.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <!--[if IE]>
    <link href="assets/css/prod/ie.css" rel="stylesheet" />
    <![endif]-->
    <link rel=stylesheet href=assets/css/main.css>
</head>

<body>

<div id="content" ng-controller="AppCtrl" ng-cloak>
    <md-content>
        <header>

               <!-- <nav>
                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                        <span flex></span>
                        <md-nav-item md-nav-href="#/" name="home">Home</md-nav-item>
                        <md-nav-item md-nav-href="#/collection" name="collection" ng-if="userCookie != undefined">Collection</md-nav-item>
                        <md-nav-item md-nav-href="#/authentication" name="auth" ng-if="userCookie == undefined">Login / Register</md-nav-item>
                        <md-nav-item md-nav-href="#/" name="logout" ng-if="userCookie != undefined" ng-click="logout()">Logout</md-nav-item>
                    </md-nav-bar>
                </nav> -->


        </header>
        <div class=dashboard-page>
            <div class=container-fluid>
                <div class=row>
                    <div class="col-sm-3 col-md-2 sidebar">
                        <div class=text-center>
                            <h2 class=brand>Ani Theme <small>Free Edition</small>
                            </h2>
                            <img src=images/flat-avatar.png class=user-avatar><br>
                            <a ui-sref=login class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
                        </div>
                        <ul class="nav nav-sidebar">
                            <li ng-class="{active: $state.includes('overview')}">
                                <a ui-sref=overview>Overview <span class=sr-only>(current)</span></a>
                            </li>
                            <li ng-class="{active: $state.includes('reports')}"><a ui-sref=reports>Reports</a></li>
                            <li><a href="#/authentication" name="auth">Login / Register</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view> </div>
                </div>
            </div>
        </div>
        <!--<div ng-view></div>-->
    </md-content>
</div>

<script src="assets/js/libs/angular.js"></script>
<script src="assets/js/libs/angular-route.js"></script>
<script src="assets/js/libs/angular-animate.js"></script>
<script src="assets/js/libs/angular-aria.js"></script>
<script src="assets/js/libs/angular-messages.js"></script>
<script src="assets/js/libs/angular-cookies.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script src="dist/scripts/oldieshim.js"></script>
<!--<script src=dist/scripts/vendor.js></script> -->
<script src=dist/scripts/scripts.js></script>
</body>
</html>
